/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

# если это всё npm-сборочное, то оно должно быть тут
public/js/app.js
public/css/app.css
public/assets/vendor/bootstrap
